<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>corechain</title>

<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap-theme.min.css" rel="stylesheet" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<table>
			<td>
				<a title="Back to home" href="/">
					<img src="image/beidouchain-logo.jpg" alt="BeidouChain logo" />
				</a>
			</td>
			<td style="padding-left: 10px;" valign="middle">
				<h1>corechain</h1>
			</td>
		</table>
		<p>
			<label>Search by address, block number, transaction or chain name:</label>
		</p>
		<form class="form-inline" action="search">
			<div class="form-group">
				<input id="search1" type="text" name="str" size="64"
					style="height: 32px; margin-right: 10px;" />
				<button type="submit" class="btn"
					style="height: 32px; vertical-align: middle;">Search</button>
				<p class="help-block">Address or hash search requires full characters.</p>
			</div>
		</form>
		<p>
			<a th:href="@{'blocks?end=0'}" th:if="${end lt blockCount}">&lt;&lt;</a>
			<span th:if="${end ge blockCount}">&lt;</span>
			<a th:href="@{'blocks?end=' + ${end+1}}" th:if="${end lt blockCount}">&lt;</a> 
			<span th:if="${end ge blockCount}">&lt;</span>
			<a th:href="@{'blocks?end=' + ${end-1}}" th:if="${end gt 19}">&gt;</a>
			<span th:if="${end le 19}">&gt;</span>
			<a th:href="@{'blocks?end=19'}" th:if="${end gt 19}">&gt;&gt;</a> 
			<span th:if="${end le 19}">&gt;&gt;</span>
		</p>
		<table class="table table-striped">
			<tr>
				<th>Block</th>
				<th>Miner</th>
				<th>Approx. Time</th>
				<th>Transactions</th>
				<th>Chain Age</th>
			</tr>
			<tr th:each="block:${blockList}">
				<td>
					<a th:href="@{'block?hash=' + ${block.get('hash')}}" th:text="${block.get('height')}"></a>
				</td>
				<td>
					<a th:href="@{'address?address=' + ${block.get('miner')}}" th:text="${block.get('miner')}"></a>
				</td>
				<td th:text="${block.get('time')}"></td>
				<td th:text="${block.get('txcount')}"></td>
				<td th:text="${block.get('age')}"></td>
				
			</tr>		
		</table>
		<p>
			<a th:href="@{'blocks?end=0'}" th:if="${end lt blockCount}">&lt;&lt;</a>
			<span th:if="${end ge blockCount}">&lt;</span>
			<a th:href="@{'blocks?end=' + ${end+1}}" th:if="${end lt blockCount}">&lt;</a> 
			<span th:if="${end ge blockCount}">&lt;</span>
			<a th:href="@{'blocks?end=' + ${end-1}}" th:if="${end gt 19}">&gt;</a>
			<span th:if="${end le 19}">&gt;</span>
			<a th:href="@{'blocks?end=19'}" th:if="${end gt 19}">&gt;&gt;</a> 
			<span th:if="${end le 19}">&gt;&gt;</span>
		</p>
		<br /><br />
	    <div th:include="footer :: powered"></div>
	</div>
</body>
</html>
