<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Streams</title>

<!-- Bootstrap and Theme -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/bootstrap-theme.min.css" rel="stylesheet" />

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>


</head>
<body>
	<div class="container">
		<table>
			<tr>
				<td><a title="Back to home" href="/" ><img src="image/beidouchain-logo.jpg" alt="BeidouChain logo" /></a></td>
				<td style="padding-left: 10px;" valign="middle"><h1 th:text="${homePage.chainName}"></h1></td>
			</tr>
		</table>
		<h3>Streams</h3>
		<table class="table table-striped">
			<tr>
				<th>Stream Name</th>
				<th>Stream Items</th>
				<th>Anybody Can Publish</th>
				<th>Creator</th>
				<th>Creation Transaction</th>
			</tr>
			<tr th:each="stream:${streams}">
				<td><a th:href="@{'/stream?name=' + ${stream.get('name')}}" th:text="${stream.get('name')}"></a></td>
				<td th:text="${stream.get('items')}"></td>
				<td th:text="${stream.get('open')}"></td>
				<td><a th:href="@{'/address?address=' + ${stream.get('creators')[0]}}" th:text="${stream.get('creators')[0]}"></a></td>
				<td th:text="${#strings.abbreviate(stream.get('createtxid'),20)}"></td>
			</tr>
		</table>
		<br />
		<br />
		<div th:include="footer :: powered"></div>
	</div>
</body>
</html>
